body {
    background-color: pink;
}

.keyboard {
    background: url(assets/images/notes/piano-img-big.webp);
}

.white-keys {
    width: 154.2px;
    height: 200px;
}

#white-keys {
    height: 200px;
    width: 150px;
}