body {
    background-color: pink;
}

#keyboard {
    background-image: url(assets/images/notes/piano-img-big.webp);
    background-size: contain;
    background-position: center;
    position: relative;
    margin: auto;
    width: 1080px;
    height: 398px;
}

#white-keys-container {
    width: 1080px;
    height: 398px;
}

.white-key {
    width: 154.2px;
    height: 398px;
    
}

.black-key {
    width: 100px;
    height: 220px;
    
}